apiVersion: agent-install.openshift.io/v1beta1
kind: NMStateConfig
metadata:
  name: nmstate-sno-host
  labels:
    cluster-name: rna4-nmstate
spec:
  config:
    interfaces:
      - name: eno2
        type: ethernet
        state: up
        ipv4:
          address:
            - ip: 10.19.6.20
              prefix-length: 24
          enabled: true
    dns-resolver:
      config:
        server:
          - 10.19.6.21
    routes:
      config:
        - destination: 0.0.0.0/0
          next-hop-address: 10.19.6.254
          next-hop-interface: eno2
  interfaces:
    - name: eno2
      macAddress: "B8:59:9F:B1:11:C5"
